@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

header {
    padding: 35px;
    width: 100%;
    position: fixed;
    font-size: 16px;
    display: flex;
}

header a {
    color: #000000;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
}

h1 img { 
    box-sizing: content-box;
    max-height: 600px;
    width: 100%;
}